{% if fileManager.queryParameters.route is defined %}
    {% set dirPath = '/' ~ fileManager.configuration.dir|replace({' ': '%20'})  ~ fileManager.queryParameters.route|replace({' ': '%20'}) ~ '/' %}
{% else %}
    {% set dirPath = '/' ~ fileManager.configuration.dir|replace({' ': '%20'})  ~ '/' %}
{% endif %}

<div class="table-responsive list-blk">
    <table class="table">
        <colgroup>
            <col>
            <col>
            <col class="col-lg-7">
            <col class="col-lg-1">
            <col class="col-lg-1">
            <col class="col-lg-1">
            <col class="col-lg-2">
        </colgroup>
        <thead class="thead-default">
        <tr>
            <th>
                {% block select_all %}
                    <input type="checkbox" id="select-all" title="{{ 'select-all'|trans }}">
                {% endblock %}
            </th>
            <th></th>
            <th>
                {{ order(fileManager, 'name') }}
            </th>
            <th class="hidden-xs">
                {{ order(fileManager, 'date') }}
            </th>
            <th class="hidden-xs">
                {{ order(fileManager, 'size') }}
            </th>
            <th class="hidden-xs">
                {{ order(fileManager, 'dimension') }}
            </th>
            <th class="text-right">{{ 'table.actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for fileEntity in fileArray %}
            {% set file = fileEntity.file %}
            <tr class="file-wrapper {{ fileEntity.isImage() ? 'img' : file.type }}">
                <td>
                    {% block file_checkbox %}
                        <input type="checkbox" class="checkbox" name="delete[]" value="{{ file.fileName }}"
                               title="{{ file.fileName }}">
                    {% endblock %}
                </td>
                <td>
                    {% block file_preview %}
                        {{ fileEntity.preview ? fileEntity.preview.html|raw }}
                    {% endblock %}
                </td>
                <td data-value="{{ file.fileName }}" {{ fileEntity.attribut|raw }}>
                    {% block file_name %}
                        {{ (fileEntity.preview.folder is defined ? fileEntity.preview.folder : file.fileName)|raw }}
                    {% endblock %}
                </td>
                <td class="hidden-xs">
                    {% block file_date %}
                        <small>{{ file.mTime|date('d/m/Y') }}</small>
                    {% endblock %}
                </td>
                <td class="hidden-xs">
                    {% block file_size %}
                        <small>{{ fileEntity.HTMLSize }}</small>
                    {% endblock %}
                </td>
                <td class="hidden-xs">
                    {% block file_dimension %}
                        <small>{{ fileEntity.HTMLDimension }}</small>
                    {% endblock %}
                </td>
                <td class="text-right">
                    {% block file_action %}
                        <span data-toggle="tooltip" title="{{ 'title.copy'|trans }}">
                        <button class="copy-file-link"
                                type="button"
                                data-file-link-url={{ dirPath ~ file.fileName|replace({' ': '%20'}) }}>
                            <span>√</span>
                        </button>
                    </span>
                        <span data-toggle="tooltip" title="{{ 'title.delete'|trans }}">
                        <button type="button"
                                class="btn btn-xs btn-danger js-delete-modal"
                                data-trigger="click"
                                data-container="body"
                                data-toggle="modal"
                                data-target="#js-confirm-delete"
                                data-placement="left"
                                data-html="true"
                                data-href='{{ path('file_manager_delete', fileManager.queryParameters|merge({'delete[]':file.fileName})) }}'>
                        <span class="far fa-trash-alt"></span>
                        </button>
                    </span>
                        <span data-toggle="tooltip" title="{{ 'title.rename.file'|trans }}">
                        <button type="button"
                                class="btn btn-xs btn-default js-rename-modal"
                                data-trigger="click"
                                data-container="body"
                                data-toggle="modal"
                                data-target="#js-confirm-rename"
                                data-placement="left"
                                data-html="true"
                                data-name='{{ file.basename('.'~file.extension) }}'
                                data-extension='{{ file.extension }}'
                                data-href='{{ path('file_manager_rename', fileManager.queryParameters|merge({'fileName':file.fileName})) }}'>
                        <span class="far fa-edit"></span>
                        </button>
                    </span>
                        {% if file.type == "file" %}
                            <a data-placement="left" title="{{ 'title.download'|trans }}"
                               class="btn btn-xs btn-default js-download"
                               href="{{ path('file_manager_file', fileManager.queryParameters|merge({'fileName':file.fileName})) }}"
                               download>
                                <span class="fas fa-download"></span>
                            </a>
                            {% if fileEntity.isImage() %}
                                <span data-toggle="tooltip" title="{{ 'title.preview.file'|trans }}">
                                <button type="button"
                                        class="btn btn-xs btn-default js-open-modal"
                                        data-trigger="click"
                                        data-container="body"
                                        data-toggle="modal"
                                        data-target="#js-display-image"
                                        data-placement="left"
                                        data-href='{{ fileEntity.preview.path }}'>
                                <span class="fas fa-eye"></span>
                                </button>
                            </span>
                            {% endif %}
                        {% endif %}
                    {% endblock %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
